body{
	margin: 0px;
	font-family: arial;
}

#channels_div{
	background: #F8F8F8;
	width: calc(100% - 20px);
	height: calc(70% - 20px);
	padding: 10px;
	text-align: -webkit-center;
}

#chat_div{
	width: 100%;
	height: calc(30% - 33px);
	padding-top: 4px;
	text-align: -webkit-center;
	overflow: auto;
}

#chat_div p{
	margin: 5px 0px;
}

#chat_input{
	width: 100%;
	padding: 5px 4px;
}

.channel{
	text-decoration: underline;
	display: block;
}

.channel:not(.active_channel){
	color: blue;
}

.user{
	display: block;
}